{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIKIPI | Payment</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/images/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/fancybox/source/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/jquery.scrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/mobile-menu.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'VIKIPI_CUSTOMER_PANEL/assets/css/style.css' %}">
</head>
<body class="inblog-page">
    <header class="header style7">
        <div class="top-bar">
            <div class="container">
                <div class="top-bar-left">
                    <div class="header-message">
                        Welcome to our online store!
                    </div>
                </div>
                
                <div class="top-bar-right">
                       
                    <div class="header-language">
                        
                        
                        <div class="stelina-language stelina-dropdown">
                            {% if uid %}
                            <a href="#" class="active language-toggle" data-stelina="stelina-dropdown">
                                        <span>
                                            
                                                    {{cid.firstname}} {{cid.lastname}}
                                            
                                        </span>
                            </a>
                            <ul class="stelina-submenu">
                                <li class="switcher-option">
                                    <a href="#">
                                                <span>
                                                    <a href="#">My Order</a>
                                                </span>
                                    </a>
                                </li>
                                <li class="switcher-option">
                                    <a href="#">
                                                <span>
                                                    <a href="{% url 'view_wishlist' %}">My Wishlist</a>
                                                </span>
                                    </a>
                                </li>
                                <li class="switcher-option">
                                    <a href="#">
                                                <span>
                                                    <a href="{% url 'add_feedback' %}">Feedback</a>
                                                </span>
                                    </a>
                                </li>
                                <li class="switcher-option">
                                    <a href="#">
                                                <span>
                                                    <a href="{% url 'logout' %}">Logout</a>
                                                </span>
                                    </a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="header-user-links">
                                <li>
                                    <a href="{% url 'login' %}">Login</a>
                                </li>
                            </ul>
                            {% endif %} 
                        </div>
                    </div>
                    
                    <ul class="header-user-links">
                        <li>
                            {% if uid %}
                                <a href="{% url 'edit-profile' %}">Edit profile</a>
                            {% else %}
                                <a href="{% url 'register' %}">Register</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-header">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'VIKIPI_CUSTOMER_PANEL\assets\images\logo1.jpeg' %}" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-md-6 col-xs-5 col-ts-12">
                        <div class="block-search-block">
                            
                            <form class="form-search form-search-width-category" method="POST" action="{% url 'search_product' %}">
                                {% csrf_token %}
                                <div class="form-content">
                                    <div class="inner">
                                    <input type="text" class="input"  placeholder="Search here" name="item_product" width="80%">
                                    </div>
                                    <input type="submit" class="btn-search"  value="">
                                        
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-12 col-md-3 col-xs-12 col-ts-12">
                        <div class="header-control">
                            <div class="block-minicart stelina-mini-cart block-header stelina-dropdown">
                                <a href="{% url 'shopping_cart' %}" class="shopcart-icon"   >
                                    Cart
                                    {% if cart_id %}
                                    <span class="count">
                                        {{cart_id}}
                                        </span>
                                    {% else %}
                                    <span class="count">
                                        0
                                        </span>
                                    {% endif %}
                                </a>
                                <!-- <div class="shopcart-description stelina-submenu">
                                    <div class="content-wrap">
                                        <h3 class="title">Shopping Cart</h3>
                                        <ul class="minicart-items">
                                            {% for i in pid_cart %}
                                            <li class="product-cart mini_cart_item">
                                                <a href="#" class="product-media">
                                                    <img src="{{i.product_id.product_image.url}}" alt="img">
                                                </a>
                                                <div class="product-details">
                                                    <h5 class="product-name">
                                                        <a href="#">{{i.product_id.product_name}}</a>
                                                    </h5>
                                                    <div class="variations">
                                                                <span class="attribute_color">
                                                                    <a href="#">Black</a>
                                                                </span>
                                                        ,
                                                        <span class="attribute_size">
                                                                    <a href="#">300ml</a>
                                                                </span>
                                                    </div>
                                                    
                                                    <span class="product-quantity">
                                                                (x1)
                                                            </span>
                                                    <div class="product-remove">
                                                        <a href="{% url 'cart_product_remove' pk=i.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="subtotal">
                                            <span class="total-title">Subtotal: </span>
                                            <span class="total-price">
                                                        <span class="Price-amount">
                                                            $135
                                                        </span>
                                                    </span>
                                        </div>
                                        <div class="actions">
                                            <a class="button button-viewcart" href="shoppingcart.html">
                                                <span>View Bag</span>
                                            </a>
                                            <a href="checkout.html" class="button button-checkout">
                                                <span>Checkout</span>
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="block-account block-header stelina-dropdown">
                                <!-- <a href="#" data-stelina="stelina-dropdown">
                                    <span class="flaticon-user"></span>
                                </a> -->
                                <div class="header-account stelina-submenu">
                                    <div class="stelina-menu-item-title">
                                        <li class="menu-item  menu-item-has-children">
    
                                            <span class="toggle-submenu"></span>
                                            <!-- <ul class="submenu">
                                                <li class="menu-item">
                                                    <a href="index.html">Home 01</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="home2.html">Home 02</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="home3.html">Home 03</a>
                                                </li>
                                            </ul> -->
                                        </li>
                                        <!-- <div class="tab-container">
                                            <div id="header-tab-login" class="tab-panel active">
                                                <form method="post" class="login form-login">
                                                    <p class="form-row form-row-wide">
                                                        <input type="email" placeholder="Email" class="input-text">
                                                    </p>
                                                    <p class="form-row form-row-wide">
                                                        <input type="password" class="input-text" placeholder="Password">
                                                    </p>
                                                    <p class="form-row">
                                                        <label class="form-checkbox">
                                                            <input type="checkbox" class="input-checkbox">
                                                            <span>
                                                                        Remember me
                                                                    </span>
                                                        </label>
                                                        <input type="submit" class="button" value="Login">
                                                    </p>
                                                    <p class="lost_password">
                                                        <a href="#">Lost your password?</a>
                                                    </p>
                                                </form>
                                            </div>
                                            <div id="header-tab-rigister" class="tab-panel">
                                                <form method="post" class="register form-register">
                                                    <p class="form-row form-row-wide">
                                                        <input type="email" placeholder="Email" class="input-text">
                                                    </p>
                                                    <p class="form-row form-row-wide">
                                                        <input type="password" class="input-text" placeholder="Password">
                                                    </p>
                                                    <p class="form-row">
                                                        <input type="submit" class="button" value="Register">
                                                    </p>
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <a class="menu-bar mobile-navigation menu-toggle" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav-container rows-space-20">
            <div class="container">
                <div class="header-nav-wapper main-menu-wapper">
                    <div class="vertical-wapper block-nav-categori">
                        <div class="block-title">
                                <span class="icon-bar">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            <span class="text">All Categories</span>
                        </div>
                        <div class="block-content verticalmenu-content">
                            <ul class="stelina-nav-vertical vertical-menu stelina-clone-mobile-menu">
                                
                                {% for i in catid %}
                                <li class="menu-item">
                                    <a href="{% url 'view_product_by_category' pk=i.id %}" class="stelina-menu-item-title" title="New Arrivals">{{i.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="header-nav">
                        <div class="container-wapper">
                            <ul class="stelina-clone-mobile-menu stelina-nav main-menu " id="menu-main-menu">
                                <li class="menu-item  menu-item-has-children">
                                    
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#" class="stelina-menu-item-title" title="Shop">Shops</a>
                                    <span class="toggle-submenu"></span>
                                    <ul class="submenu">
                                        <li class="menu-item">
                                            <a href="{% url 'adminpanel:retailer_register' %}" class="stelina-menu-item-title" style="color: blue;">Sell on VIKIPI</a>
                                        </li>
                                        {% for i in sid %}
                                        <li class="menu-item">
                                            <a href="{% url 'view_product_by_shop' pk=i.id %}">{{i.shop_name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    
    
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'view_all_products' %}" class="stelina-menu-item-title" title="Buy Products">Buy Products</a>
                                </li>
                                {% if cid %}
                                <li class="menu-item  menu-item-has-children item-megamenu">
                                    <a href="#" class="stelina-menu-item-title" title="Pages">Profile</a>
                                    <span class="toggle-submenu"></span>
                                    <div class="submenu mega-menu menu-page">
                                        
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                    <div class="stelina-custommenu default">
                                                        <h2 class="widgettitle">Profile</h2>
                                                        <ul class="menu">
                                                            
                                                            <li class="menu-item">
                                                                <a href="{% url 'edit-profile' %}">Edit Profile</a>
                                                            </li>
                                                            
                                                            
                                                            <li class="menu-item">
                                                                <a href="contact.html">Contact us</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{% url 'add_feedback' %}">Feedback</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{% url 'adminpanel:retailer_register' %}">Sell On VIKIPI Shop Hub</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                    <div class="stelina-custommenu default">
                                                        <h2 class="widgettitle">Order Details</h2>
                                                        <ul class="menu">
                                                            <li class="menu-item">
                                                                <a href="{% url 'shopping_cart' %}">Shopping Cart</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="#">View Orders</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="{% url 'view_wishlist' %}">View wishlist</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                                </div>
                                            </div>
                                        
                                    </div>
                                </li>
                                {% endif %}
                                <li class="menu-item">
                                    <a href="inblog_right-siderbar.html" class="stelina-menu-item-title" title="Contact Us">Contact Us</a>
                                </li>
    
                                <li class="menu-item">
                                    <a href="about.html" class="stelina-menu-item-title" title="About">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-device-mobile">
        <div class="wapper">
            <div class="item mobile-logo">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'VIKIPI_CUSTOMER_PANEL\assets\images\logo.png' %}" alt="img">
                    </a>
                </div>
            </div>
            <div class="item item mobile-search-box has-sub">
                <a href="#">
                            <span class="icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                </a>
                <div class="block-sub">
                    <a href="#" class="close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="header-searchform-box">
                        <form class="header-searchform" method="POST" action="{% url 'search_product' %}">
                            <div class="searchform-wrap">
                                <input type="text" class="search-input" placeholder="Enter keywords to search...">
                                <input type="submit" class="submit button" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item mobile-settings-box has-sub">
                <a href="#">
                            <span class="icon">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </span>
                </a>
                <div class="block-sub">
                    <a href="#" class="close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    <div class="block-sub-item">
                        <h5 class="block-item-title">Currency</h5>
                        <form class="currency-form stelina-language">
                            <ul class="stelina-language-wrap">
                                <li class="active">
                                    <a href="#">
                                                <span>
                                                    Indian (Rupee)
                                                </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="item menu-bar">
                <a class=" mobile-navigation  menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
<div class="main-content main-content-checkout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="trail-item trail-end active">
                            Payment
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="custom_blog_title">
            Payment
        </h3>
        <div class="checkout-wrapp">
            <!-- <div class="shipping-address-form-wrapp">
                <div class="shipping-address-form  checkout-form">
                    <div class="row-col-1 row-col">
                        <div class="shipping-address">
                            <h3 class="title-form">
                                Shipping Address
                            </h3>
                            <p class="form-row form-row-first">
                                <label class="text">First name</label>
                                <input title="first" type="text" class="input-text" value="{{cid.firstname}}">
                            </p>
                            <p class="form-row form-row-last">
                                <label class="text">Last name</label>
                                <input title="last" type="text" class="input-text" value="{{cid.lastname}}">
                            </p>
                            <p class="form-row forn-row-col forn-row-col-1">
                                <label class="text">Country</label>
                                <select title="country" data-placeholder="United Kingdom" class="chosen-select"
                                        tabindex="1">
                                    <option value="United States">United States</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Aland Islands">Aland Islands</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="American Samoa">American Samoa</option>
                                    <option value="Andorra">Andorra</option>
                                    <option value="Angola">Angola</option>
                                    <option value="Anguilla">Anguilla</option>
                                    <option value="Antarctica">Antarctica</option>
                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Armenia">Armenia</option>
                                    <option value="Aruba">Aruba</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Austria">Austria</option>
                                    <option value="Azerbaijan">Azerbaijan</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Bahrain">Bahrain</option>
                                    <option value="Bangladesh">Bangladesh</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belarus">Belarus</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Benin">Benin</option>
                                    <option value="Bermuda">Bermuda</option>
                                    <option value="Bhutan">Bhutan</option>
                                </select>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-2">
                                <label class="text">State</label>
                                <select title="state" data-placeholder="London" class="chosen-select" tabindex="1">
                                    <option value="United States">London</option>
                                    <option value="United Kingdom">tokyo</option>
                                    <option value="Afghanistan">Seoul</option>
                                    <option value="Aland Islands">Mexico city</option>
                                    <option value="Albania">Mumbai</option>
                                    <option value="Algeria">Delhi</option>
                                    <option value="American Samoa">New York</option>
                                    <option value="Andorra">Jakarta</option>
                                    <option value="Angola">Sao Paulo</option>
                                    <option value="Anguilla">Osaka</option>
                                    <option value="Antarctica">Karachi</option>
                                    <option value="Antigua and Barbuda">Matx-cơ-va</option>
                                    <option value="Argentina">Toronto</option>
                                    <option value="Armenia">Boston</option>
                                </select>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-3">
                                <label class="text">City</label>
                                <select title="city" data-placeholder="London" class="chosen-select" tabindex="1">
                                    <option value="United States">London</option>
                                    <option value="United Kingdom">tokyo</option>
                                    <option value="Afghanistan">Seoul</option>
                                    <option value="Aland Islands">Mexico city</option>
                                    <option value="Albania">Mumbai</option>
                                    <option value="Algeria">Delhi</option>
                                    <option value="American Samoa">New York</option>
                                    <option value="Andorra">Jakarta</option>
                                    <option value="Angola">Sao Paulo</option>
                                    <option value="Anguilla">Osaka</option>
                                    <option value="Antarctica">Karachi</option>
                                    <option value="Antigua and Barbuda">Matx-cơ-va</option>
                                    <option value="Argentina">Toronto</option>
                                    <option value="Armenia">Boston</option>
                                </select>
                            </p>
                            <p class="form-row form-row-first">
                                <label class="text">Zip code</label>
                                <input title="zip" type="text" class="input-text">
                            </p>
                            <p class="form-row form-row-last">
                                <label class="text">Address</label>
                                <input title="address" type="text" class="input-text">
                            </p>
                        </div>
                    </div>
                    <div class="row-col-2 row-col">
                        <div class="your-order">
                            <h3 class="title-form">
                                Your Order
                            </h3>
                            <ul class="list-product-order">
                                {% for i in cart_id_get %}
                                <li class="product-item-order">
                                    <div class="product-thumb">
                                        <a href="#">
                                            <img src="{{i.product_id.product_image.url}}" alt="img">
                                        </a>
                                    </div>
                                    <div class="product-order-inner">
                                        <h5 class="product-name">
                                            <a href="#">{{i.product_id.produduct_name}}</a>
                                        </h5>
                                        <span class="attributes-select attributes-color">{{i.product_id.product_description}}</span>
                                        
                                        <div class="price">
                                            {{i.product_id.product_price}}
                                            <span class="count">X {{i.quantity}}</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="order-total">
									<span class="title">
										Total Price:
									</span>
                                <span class="total-price">
										$95
									</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="button button-payment">Payment</a>
            </div> -->
            <div class="payment-method-wrapp">
                <div class="payment-method-form checkout-form">
                    <div class="row-col-1 row-col">
                        <div class="payment-method">
                            <h3 class="title-form">
                                Payment Method
                            </h3>
                            <div class="group-button-payment">
                                <a href="#" class="button btn-credit-card">Credit Card</a>
                                <a href="#" class="button btn-paypal">UPI</a>
                                <a href="#" class="button btn-paypal">Cash on Delivery</a>
                            </div>
                            <form method="POST" action="{% url 'initiate_payment' %}">
                            <p class="form-row form-row-card-number">
                                <label class="text">Card number</label>
                                <input type="text" class="input-text" placeholder="xxx - xxx - xxx - xxx">
                            </p>
                            <p class="form-row forn-row-col forn-row-col-1">
                                <label class="text">Month</label>
                                <select title="month" data-placeholder="01" class="chosen-select" tabindex="1">
                                    <option value="thang01">01</option>
                                    <option value="thang02">02</option>
                                    <option value="thang03">03</option>
                                    <option value="thang04">04</option>
                                    <option value="thang05">05</option>
                                    <option value="thang06">06</option>
                                    <option value="thang07">07</option>
                                    <option value="thang08">08</option>
                                    <option value="thang09">09</option>
                                    <option value="thang10">10</option>
                                    <option value="thang11">11</option>
                                    <option value="thang12">12</option>
                                </select>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-2">
                                <label class="text">Year</label>
                                <select title="Year" data-placeholder="2017" class="chosen-select" tabindex="1">
                                    <option value="nam2010">2021</option>
                                    <option value="nam2011">2022</option>
                                    <option value="nam2012">2023</option>
                                    <option value="nam2013">2024</option>
                                    <option value="nam2014">2025</option>
                                    <option value="nam2015">2026</option>
                                    <option value="nam2016">2027</option>
                                    <option value="nam2017">2028</option>
                                    <option value="nam2018">2029</option>
                                    <option value="nam2020">2030</option>
                                </select>
                            </p>
                            <p class="form-row forn-row-col forn-row-col-3">
                                <label class="text">CVV</label>
                                <input type="text" class="input-text"  name='cvvnum' style="border-radius: 0%;">
                                <input type="text" name='orderid' value="{{order_id}}" hidden>
                                <input type="text" name='amt' value="{{amount}}" hidden>
                                <input type="text" name='email' value="{{email}}" hidden>
                            </p>
                            <input type="submit" class="button btn-pay-now" value="Pay Now">
                        </form>
                        </div>
                    </div>
                    <div class="row-col-2 row-col">
                        <div class="your-order">
                            <h3 class="title-form">
                                Your Order
                            </h3>
                            <ul class="list-product-order">
                                {% for i in cart_id_get %}
                                <li class="product-item-order">
                                    <div class="product-thumb">
                                        <a href="#">
                                            <img src="{{i.product_id.product_image.url}}" alt="img">
                                        </a>
                                    </div>
                                    <div class="product-order-inner">
                                        <h5 class="product-name">
                                            <a href="#">{{i.product_id.product_name}}</a>
                                        </h5>
                                        
                                        <div class="price">
                                            {{i.product_id.product_price}}
                                            <span class="count">x {{i.quantity}}</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                
                            </ul>
                            <div class="order-total">
									<span class="title">
										Total Price:
									</span>
                                <span class="total-price">
										{{total}} Rs
									</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-control">
                    <a href="#" class="button btn-back-to-shipping">Back to shopping</a>
                </div>
            </div>
            <!-- <div class="end-checkout-wrapp">
                <div class="end-checkout checkout-form">
                    <div class="icon">
                    </div>
                    <h3 class="title-checkend">
                        Congratulation! Your order has been processed.
                    </h3>
                    <div class="sub-title">
                        Aenean dui mi, tempus non volutpat eget, molestie a orci.
                        Nullam eget sem et eros laoreet rutrum.
                        Quisque sem ante, feugiat quis lorem in.
                    </div>
                    <a href="#" class="button btn-return">Return to Store</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg">
                    <div class="stelina-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">Newsletter</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                Sign up for our free video course and <br/> urban garden inspiration
                            </div>
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="Your email letter">
                            <button class="button btn-submit submit-newsletter">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="stelina-custommenu default">
                        <h2 class="widgettitle">Quick Menu</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">New arrivals</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Life style</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Accents</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Tables</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Dining</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div class="stelina-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">Newsletter</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <div class="list">
                                Sign up for our free video course and <br/> urban garden inspiration
                            </div>
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="Your email letter">
                            <button class="button btn-submit submit-newsletter">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="stelina-custommenu default">
                        <h2 class="widgettitle">Information</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="#">FAQs</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Track Order</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Delivery</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Contact Us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Return</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-end">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="stelina-socials">
                            <ul class="socials">
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-item" target="_blank">
                                        <i class="icon fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="coppyright">
                            Copyright © 2020
                            <a href="#">Stelina</a>
                            . All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<i class="fa fa-home" aria-hidden="true"></i>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="#">
					<span class="icon">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
					<span class="icon">
						<i class="fa fa-shopping-basket" aria-hidden="true"></i>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="#">
					<span class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop">
    <i class="fa fa-angle-double-up"></i>
</a>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery.plugin-countdown.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery-countdown.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/isotope.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/mobile-menu.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/chosen.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/slick.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery.elevateZoom.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery.actual.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/fancybox/source/jquery.fancybox.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/lightbox.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/owl.thumbs.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'VIKIPI_CUSTOMER_PANEL/assets/js/frontend-plugin.js' %}"></script>
</body>
</html>